<!DOCTYPE HTML>
<!--
	Cube by FreeHTML5.co
	Twitter: http://twitter.com/gettemplateco
	URL: http://freehtml5.co
-->
<html>

	<html>
		<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>グローバル感性イメージング科学技術​のアジア拠点形成​</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="Hiroyuki Kubo" />
	
		  <!-- Facebook and Twitter integration -->
		<meta property="og:title" content=""/>
		<meta property="og:image" content=""/>
		<meta property="og:url" content=""/>
		<meta property="og:site_name" content=""/>
		<meta property="og:description" content=""/>
		<meta name="twitter:title" content="" />
		<meta name="twitter:image" content="" />
		<meta name="twitter:url" content="" />
		<meta name="twitter:card" content="" />
	
		<link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,700" rel="stylesheet">
		
		<!-- Animate.css -->
		<link rel="stylesheet" href="css/animate.css">
		<!-- Icomoon Icon Fonts-->
		<link rel="stylesheet" href="css/icomoon.css">
		<!-- Themify Icons-->
		<link rel="stylesheet" href="css/themify-icons.css">
		<!-- Bootstrap  -->
		<link rel="stylesheet" href="node_modules/bootstrap/scss/bootstrap.css">
	
		<!-- Vue.js -->
		<script src="node_modules/vue/dist/vue.min.js"></script>
		<script src="node_modules/axios/dist/axios.min.js"></script>
	
		<!-- Magnific Popup -->
		<link rel="stylesheet" href="css/magnific-popup.css">
	
		<!-- Owl Carousel  -->
		<link rel="stylesheet" href="css/owl.carousel.min.css">
		<link rel="stylesheet" href="css/owl.theme.default.min.css">

		<!-- Font Awesome -->
		<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

		<!-- Theme style  -->
		<link rel="stylesheet" href="css/style.css">
	
		<!-- Modernizr JS -->
		<script src="js/modernizr-2.6.2.min.js"></script>
		<!-- FOR IE9 below -->
		<!--[if lt IE 9]>
		<script src="js/respond.min.js"></script>
		<![endif]-->
	
	
	</head>

<body>

	<div class="gtco-loader"></div>

	<div id="page">
		<div id="navi"></div>

		<header id="gtco-header" class="gtco-cover gtco-cover-xs gtco-inner" role="banner">
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-12 col-md-offset-0 text-left">
						<div class="display-t">
							<div class="display-tc">
								<div class="row">
									<div class="col-md-8 animate-box">
										<h1 class="no-margin">発表文献​</h1>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- END #gtco-header -->

		<div class="gtco-section gtco-testimonial gtco-gray">
			<div class="gtco-container">
				<div id="app">
					<p v-if="errored" v-cloak>{{ error }}</p>
					<p v-if="loading" v-cloak>Loading...</p>
					<div v-else>
						<div class="row">
							<div class="col-md-8 offset-md-2 gtco-heading text-center">
								<h2>受賞</h2>
								<div v-if="award_entries.length == 0">(To appear.)</div>
								<div v-else>
									<div class="col-md-12 offset-md-0 text-left">
										<dl class="dl awards" v-for="entry in award_entries">
											<dt><i class="fas fa-star"></i> {{entry.award_organization + ' ' + entry.award_title}}</dt>
											<dd>受賞者: {{entry.award_winner}}</dd>
											<dd>受賞日: {{entry.award_date}}</dd>
											<dd>対象論文:{{entry.award_target}}</dd>
											<template v-if="entry.url != undefined">
												
												<dd><a v-bind:href="entry.url"><i class="fas fa-link"></i>リンク</a></dd>
											</template>
										</dl>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8 offset-md-2 gtco-heading text-center">
								<h2>学術雑誌等（紀要・論文集等を含む）</h2>
								<div v-if="journal_entries.length == 0">(To appear.)</div>
								<div v-else>
									<table class="table table-borderless text-left">
										<tr v-for="entry in journal_entries">
											<td>
												{{entry.bibtext}}
											</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-8 offset-md-2 gtco-heading text-center">
								<h2>国際会議における発表</h2>
								<div v-if="intproc_entries.length == 0">(To appear.)</div>
								<div v-else>
									<table class="table table-borderless text-left">
										<tr v-for="entry in intproc_entries">
											<td>
												{{entry.bibtext}}
											</td>
										</tr>
									</table>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-8 offset-md-2 gtco-heading text-center">
								<h2>国内学会・シンポジウム等における発表</h2>
								<div v-if="domproc_entries.length == 0">(To appear.)</div>
								<div v-else>
									<table class="table table-borderless text-left">
										<tr v-for="entry in domproc_entries">
											<td>
												{{entry.bibtext}}
											</td>
										</tr>
									</table>
								</div>
							</div>
						</div>					
						<div class="row">
							<div class="col-md-8 offset-md-2 gtco-heading text-center">
								<h2>その他の発表</h2>
								<div v-if="other_entries.length == 0">(To appear.)</div>
								<div v-else>
									<table class="table table-borderless text-left">
										<tr v-for="entry in other_entries">
											<td>
												{{entry.bibtext}}
											</td>
										</tr>
									</table>
								</div>
							</div>
						</div>					

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- </div> -->
	<!-- Footer -->
	<div id="footer"></div>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>
	<!-- Vue -->
	<script>
		var path = 'https://sheets.googleapis.com/v4/spreadsheets/1N5xLr9yvHBeOLF83dgtwe66G9GGbJwM2Q_pApKE-ruo/values/sheet1?key=AIzaSyDLaaPfcDOTmc1RhziA8Q7xpP8P8Os2rIo'
		new Vue({
			el: '#app',
			data() {
				return {
					loading: true,
					errored: false,
					error: null,
					entries: null,
					journal_entries:null,
					intproc_entries:null,
					domproc_entries:null,
					other_entries:null,
				}
			},
			created() {
				let vm = this
				axios.get(path)
					.then(response => {

						var entries = [];

						var award_entries = [];
						var journal_entries = [];
						var intproc_entries = [];
						var domproc_entries = [];
						var other_entries   = [];

						response.data.values.forEach(function(value){
							var Types = {
								award : 0,
								journal : 1,
								int_proc : 2,
								dom_proc : 3,
								others : 4
							};
							var entry = {
								type:null,
								bibtext:null,
								reviewed:null,
								inc_gradstudent:null,
								inc_phds:null,
								co_thailand:null,
								co_turkey:null,
								co_malaysia:null,
								co_vietnam:null,
								co_cambodia:null,
								co_philippines:null,
								co_indonesia:null,								
								url:null,

								award_target:null,
								award_date:null,
								award_organization:null,
								award_title:null,
								award_winner:null,
							};
							// コメント行の読み飛ばし
							if(value.length == 0) return;
							else if (value[0].startsWith('#')) return;
							else if (value[1].toLowerCase()!='true') return;

							var idx = 2;
							switch(value[idx++])
							{
								case '表彰':
									entry.type = Types.award;
									break;
								case '学術雑誌':
									entry.type = Types.journal;
									break;
								case '国際会議':
									entry.type = Types.int_proc;
									break;
								case '国内学会':
									entry.type = Types.dom_proc;
									break;
								case 'その他':
									entry.type = Types.others;
									break;
							}
							if(entry.type == Types.award)
							{
								entry.award_target = value[idx++];
								entry.award_date = value[idx++];
								entry.award_organization = value[idx++];
								entry.award_title = value[idx++];
								entry.award_winner = value[idx++];
								entry.url = value[idx++];
							}
							else {
								entry.bibtext = value[idx++];
								if(value[idx++] == '有')
								{
									entry.reviewed = true;
								}
								else entry.reviewed = false;

								if(value[idx++].toLowerCase()!='true') entry.inc_gradstudent = true;
								else entry.inc_gradstudent = false;

								if(value[idx++].toLowerCase()!='true') entry.inc_phds = true;
								else entry.inc_phds = false;

								if(value[idx++].toLowerCase()!='true') entry.co_thailand = true;
								else entry.co_thailand = false;

								if(value[idx++].toLowerCase()!='true') entry.co_turkey = true;
								else entry.co_turkey = false;

								if(value[idx++].toLowerCase()!='true') entry.co_malaysia = true;
								else entry.co_malaysia = false;

								if(value[idx++].toLowerCase()!='true') entry.co_vietnam = true;
								else entry.co_vietnam = false;

								if(value[idx++].toLowerCase()!='true') entry.co_cambodia= true;
								else entry.co_cambodia = false;

								if(value[idx++].toLowerCase()!='true') entry.co_philippines = true;
								else entry.co_philippines = false;

								if(value[idx++].toLowerCase()!='true') entry.co_indonesia = true;
								else entry.co_indonesia = false;

								entry.url = value[idx++];
							}

							entries.push(entry);

							if(entry.type == Types.award) award_entries.push(entry);
							else if(entry.type == Types.journal) journal_entries.push(entry);
							else if(entry.type == Types.int_proc) intproc_entries.push(entry);
							else if(entry.type == Types.dom_proc) domproc_entries.push(entry);
							else other_entries.push(entry);



						});

						vm.entries = entries;

						vm.award_entries   = award_entries;
						vm.journal_entries = journal_entries;
						vm.intproc_entries = intproc_entries;
						vm.domproc_entries = domproc_entries;
						vm.other_entries   = other_entries;


					})
					.catch(err => {
						vm.errored = true,
							vm.error = err
					})
					.finally(() => vm.loading = false)
			},
			updated() {

			},
			methods: {
			}
		})
	</script>
	<!-- Main -->
	<script src="js/main.js"></script>

</body>

</html>